root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false

[*.java]
max_line_length = 180
ij_java_right_margin = 180
ij_visual_guides = 180

[*.{kt,kts}]
max_line_length = 180
ij_kotlin_code_style_defaults = KOTLIN_OFFICIAL
ij_visual_guides = 180

[*.{yml,yaml}]
indent_size = 2
